---
layout: default
title: Your payment was cancelled!
checkout: true
beautify_select: true
javascript: ["checkout", "cancelled"]
checkout_stripe: true
---

<div class="banner banner-cancelled">
  <h1>Did you mean to cancel?</h1>
  <div class="banner-subtitle">
    <h2>You have not completed your purchase to the 'Building Trust: a Semco Style Workshop' implementation kit.</h2>
    <p>If your payment was declined, please confirm that:</p>
    <ul>
      <li>Your name is listed exactly as it appears on your card, including middle names</li>
      <li>Your address is correct</li>
    </ul>
    <div class="error-message"></div>
    <a class="scroll-link btn-cta" data-soffset="0" href="#apply">Complete purchase</a>
    <a class="scroll-link btn" data-soffset="0" href="http://programs.leadwise.co/">return to homepage</a>
  </div>
</div>

<!--Pricing / Apply-->
<div class="pricing-but" id="apply">
  {% include checkout_form.html %}
  <div class="but-entry">
    <strong>USD 100</strong><br>
    <p>For this program implementation kit.</p>
  </div>
</div>

<!--<section class="welcome-message">
  <div class="wrap-content">
    <p>To complete it, please fill out this form:</p>
  </div>
  {% include checkout_form.html %}
</section>-->
