header {
  @include clearfix;

  @include media($tablet) {
    padding: 30px 0 10px 0;
  }

  .logo {
    height: 6em;
    margin: 35px 0 0 0;
    float: left;

    @include media($tablet) {
      width: 120px;
      margin: 0;
      height: auto;
      float: none;
    }
  }

  .menu {
    float: right;
    font-family: 'open_sans_light';
    margin: 4em 0;
    padding: 0;

    @include media($tablet) {
      background: #f2f2f2;
      padding: 15px;
      float: none;
      margin: 20px 0 0 0;
      display: none;
    }

    li {
      display: inline-block;
      list-style: none;
      margin-left: 35px;

      @include media($tablet) {
        margin-left: 0;
        display: block;
        margin-bottom: 2px;
      }

      a {
        color: $font-default;
        text-decoration: none;

        @include media($tablet) {
          display: block;
          height: 36px;
          line-height: 36px;
          background: $lw-dark-bg;
          padding: 0 10px;
          color: #fff;
        }

        &:hover {
          opacity: .8;
        }
      }

      .btn-cta {
        background: $lw-blue;
        color: $font-white;
        line-height: 50px;
        height: 50px;
        text-transform: uppercase;
        font-family: ostrich_sansmedium;
        font-size: 22px;
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 25px;

        @include media($tablet) {
          display: block;
          margin-top: 13px;
        }
      }
    }
  }
}


// Compact

.headervisible {
  width: 100%;
  background: rgba(#fff, .9);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  @include clearfix;

  @include media($tablet) {
    display: none;
  }

  .logo {
    width: 90px;
    height: auto;
    margin: 15px 0 0 0;
    float: left;
  }

  .menu {
    margin: 15px 0 0 0;
    float: right;
  }
}


// Mobile

.sidebartogle-button {
  display: none;

  @include media($tablet) {
    display: table;
    margin: 0;
    float: right;
  }

  .btn-menu {
    height: 3em;
    margin: 5px 0 0 0;
  }
}
