header {
  @include clearfix;
  margin-top: 30px;

  @include media($tablet) {
    padding: 30px 0 10px 0;
  }

  .logo {
    height: 6em;
    margin: 35px 0 0 0;
    float: left;

    @include media($tablet) {
      width: 120px;
      margin: 0;
      height: auto;
      float: none;
    }
  }

  .menu {
    float: right;
    font-family: 'open_sans_light';
    margin: 4em 0;
    padding: 0;

    @include media($tablet) {
      display: none;
    }

    li {
      display: inline-block;
      list-style: none;
      margin-left: 35px;

      @include media($tablet) {
        margin-left: 0;
      }

      a {
        color: $font-default;
        text-decoration: none;

        &:hover {
          opacity: .8;
        }
      }

      .btn-cta {
        background: $lw-blue;
        color: $font-white;
        line-height: 50px;
        height: 50px;
        text-transform: uppercase;
        font-family: ostrich_sansmedium;
        font-size: 22px;
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 25px;
      }
    }
  }
}

.headervisible {
  width: 100%;
  background: rgba(#fff, .9);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  @include clearfix;

  @include media($tablet) {
    display: none;
  }

  .logo {
    width: 90px;
    height: auto;
    margin: 15px 0 0 0;
    float: left;
  }

  .menu {
    margin: 28px 0 0 0;
    float: right;
  }
}


// Internal responsive

@include media($tablet) {
  display: none;
}

.sidebar_close {
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #fff;
  background: #ccc;
  display: inline-block;
  font-size: 18px;
  font-family: open_sans_bold;
  display: none;

  &:hover {
    background: #666;
  }

  @include media($tablet) {
    display: inline-block;
  }
}

#sidebartoggle {
  display: none;

  &:checked + header{

    .menu{
      -webkit-box-shadow: -2px 0px 15px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 0px 15px 0px rgba(0,0,0,0.75);
      box-shadow: -2px 0px 15px 0px rgba(0,0,0,0.75);
      display: block;
      background: $font-white;
      height: 100vh;
      margin: 0;
      padding: 1em;
      position: fixed;
      right: 0;
      top: 0;
      width: 180px;
      z-index: 3000;

      li {
        display: block;
        margin-bottom: 20px;
      }

      .btn-cta {
        color: $font-white;
        text-align: center;

        &:hover {
          color: $font-white;
        }
      }

      a {
        color: $font-default;
        display: block;

        &:hover {
          color: $lw-blue;
        }
      }
    }
  }
}

.sidebartogle-button {
  display: none;

  @include media($tablet) {
    display: table;
    margin: 0;
    float: right;
  }

  .btn-menu {
    height: 3em;
    margin: 5px 0 0 0;
  }
}
