// Grid

.programs,
.program-description,
.why,
.brochure {

  .wrap-content {
    width: 800px;

    @include media($tablet) {
      width: 100%;
    }
  }
}


// Main banner

.main-banner {
  text-align: center;
  background: #fff url("../images/banner-bg.jpg") 0 -100px;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 200px;

  @include media($tablet) {
    padding-bottom: 40px;
    background-position: 0 0;

    br {
      display: none;
    }
  }

  h1 {
    margin: 65px 0 25px 0;

    @include media($tablet) {
      font-size: 40px;
      line-height: 40px;
      margin: 130px 0 -5px 0;
      background: #fff;
      padding: 10px;
    }
  }

  h2 {
    font-weight: bold;
    color: $font-lw-light-bg;
    letter-spacing: .02em;

    @include media($tablet) {
      font-size: 20px;
      line-height: 23px;
      padding: 0 20px 20px 20px;
      background: #fff;
    }
  }
}


// Sample list, How It Works

.sample-list,
.how-it-works {
  text-align: center;
  padding-top: 20px;
  @include clearfix;

  @include media($tablet) {
    padding-top: 15px;
    padding-bottom: 5px;
  }

  h3 {
    text-align: center;
    margin-bottom: 50px;

    @include media($tablet) {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }

  .wrap-content > div {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 60px 0;
    padding-right: 50px;
    box-sizing: border-box;

    @include media($tablet) {
      width: 100%;
      padding-right: 0;
      margin: 0 0 30px 0;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }
}


// Sample list

.sample-list {
  background: $lw-blue;

  h3 {
    color: #fff;
  }

  i {
    color: #fff;
    font-size: 40px;
    margin-top: 4px;
    float: left;
  }

  p {
    margin: 0 0 0 50px;
    color: #fff;
  }

  a {
    color: #fff;
    font-family: open_sans_bold;
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    color: $lw-yellow;

    &:hover {
      color: #fff;
    }
  }
}


// Key Benefits

.sample-list-entry {
  width: 500px;
  margin: auto;

  > div {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;

    @include media($tablet) {
      width: 100%;
      padding-right: 0;
    }
  }
}


// How It Works

.how-it-works {

  h3 {
    color: $lw-blue;
  }

  h4 {
    color: $lw-blue;
    font-size: 22px;
  }

  p {
    margin: 0;
  }
}


// Programs list

.programs {
  text-align: center;
  padding: 60px 0;
  background: $lw-light-bg;

  h3 {
    color: $lw-blue;
    margin: 20px 0 0 0;

    @include media($tablet) {
      font-size: 34px;
      text-align: left;
      margin: 0;
    }
  }
}

.programs-list {
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;

  @include media($tablet) {
    margin-top: 30px;
  }

  li {
    background: #fff;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 15px;
    box-shadow: 0 0 10px #d7d7d7;
    position: relative;
    @include clearfix;

    @include media($tablet) {
      text-align: center;
      border-top: 2px solid $lw-light-bg;
      padding-top: 30px;
      margin-top: 30px;
    }

    > img {
      width: 200px;
      float: left;

      @include media($tablet) {
        float: none;
        margin-top: 20px;
      }
    }
  }

  li:first-child {

    @include media($tablet) {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .program-infos {
    margin-left: 230px;
    margin-right: 165px;
    border-right: 1px solid $lw-light-bg;
    padding: 10px 20px 0 0;

    @include media($tablet) {
      margin: 20px 0 0 0;
      text-align: left;
      border-right: none;
      padding-right: 0;
      border-bottom: 1px solid $lw-light-bg;
      padding-bottom: 25px;
    }

    .second {
      margin-left: 20px;
    }
  }

  h4 {
    margin: 0 0 5px 0;
    color: $lw-blue;

    a {
      text-decoration: none;
      color: $lw-blue;

      &:hover {
        opacity: .8;
      }
    }
  }

  p {
    font-size: 14px;
    margin: 7px 0 0 0;
    line-height: 22px;

    @include media($tablet) {
      margin-bottom: 15px;
    }
  }

  .program-nav {

    > div {
      display: inline-block;
      margin-right: 5px;
    }

    .program-price {
      font-family: 'open_sans_bold';
      font-size: 16px;
      line-height: 40px;
      margin-right: 20px;
      color: #000;
    }
  }
}

.program-aside {
  width: 150px;
  position: absolute;
  right: 0;
  top: 15px;

  @include media($tablet) {
    width: 100%;
    position: inherit;
    right: none;
    top: none;
    text-align: left;
    padding-bottom: 20px;
  }

  > div {
    font-size: 12px;
    margin-top: 10px;
    color: $font-lw-light-bg;

    strong {
      font-family: 'open_sans_bold';
    }
  }
}


// Program page

.program-page {

  header {

    .logo {
      width: 100px;
      margin-top: 0;
    }

    .menu {
      margin: 23px 0 0 0;
    }
  }

  .programs {
    padding: 30px 0;
  }

  .programs-list {
    margin-top: 0;

    li {
      margin: 0;
    }
  }
}


// Program description

.program-description {
  padding: 40px 0;
  background: $lw-blue;
  color: #fff;

  @include media($tablet) {
    padding: 20px 0;
  }

  p {
    line-height: 26px;

    strong,
    b {
      font-family: open_sans_bold;
    }
  }
}


// Why

.why {
  text-align: center;
  padding: 60px 0;

  @include media($tablet) {
    padding: 40px 0;
  }

  h3 {
    color: $lw-blue;
    margin: 0 0 20px 0;

    @include media($tablet) {
      font-size: 26px;
    }
  }

  .why-description {
    margin: 0;
    color: $font-lw-light-bg;
    font-size: 24px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    text-align: left;
    list-style-type: none;
    margin: 50px 0 0 0;

    @include media($tablet) {
      margin: 30px 0 0 0;
    }

    p {
      margin: 20px 0 0 0;
      line-height: 26px;
    }

    .fa {
      font-size: 40px;
      float: left;
      color: $lw-blue;
      margin-top: -7px;
    }

    > div {
      margin-left: 60px;
    }
  }

  h4 {
    font-size: 26px;
  }
}


// About SEMCO Style

.about-semcostyle {
  padding: 60px 0;
  text-align: center;

  @include media($tablet) {
    padding: 40px 0;
  }

  .wrap-content {
    width: 900px;

    @include media($tablet) {
      width: 100%;
    }
  }

  h3 {
    color: $lw-blue;
    margin: 0 0 30px 0;

    @include media($tablet) {
      font-size: 26px;
    }
  }

  img {
    width: 460px;
    float: left;

    @include media($tablet) {
      width: 280px;
      margin-bottom: 40px;
      float: none;
    }
  }

  .about-entry {
    margin-left: 480px;
    text-align: left;
    padding-top: 40px;

    @include media($tablet) {
      margin-left: 0;
      padding-top: 0;
    }

    p {
      line-height: 26px;
    }
  }
}


// Brochure

.brochure {
  text-align: center;
  background: $lw-light-bg;
  padding: 60px 0;

  @include media($tablet) {
    padding: 40px 0;
  }

  .fa {
    font-size: 60px;
    color: $lw-blue;
    margin-bottom: 20px;
  }

  h3 {
    color: $lw-blue;
    margin: 0 0 20px 0;

    @include media($tablet) {
      font-size: 26px;
    }
  }

  p {
    margin: 0 0 40px 0;
  }

  a {
    height: 46px;
    line-height: 46px;
    background: $lw-blue;
    color: #fff;
    font-size: 14px;
    font-family: open_sans_bold;
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      opacity: .8;
    }

    .fa {
      float: left;
      margin: 13px 12px 0 0;
      font-size: 20px;
      color: #fff;
    }
  }
}

// Pricing
#pricing {
  background: $lw-blue;
  color: #fff;
  h3 {
    color: #fff;
  }
  span {
    color: rgba(#fff, .7);
  }
  h4 {
    color: rgba(#fff, 1);
  }
  ul {
    border-left: 3px solid rgba(#fff, .3);
  }
  .wrap-content{
    width: 550px;
    @include media($tablet) {
      width: 100%;
    }
    div{
      width: 100%;
    }
  }
}
.note-phrase {
  text-transform: uppercase;
  font-family: open_sans_bold;
  font-size: 12px !important;
  line-height: 20px !important;
  background: rgba(#fff, .1);
  border: 1px solid rgba(#fff, .2);
  padding: 1em 2em;
  text-align: center;
  letter-spacing: 0;
  margin: 0 !important;
}


// Start Now Form

.startnow {
  text-align: center;
  background: $lw-blue;
  padding: 60px 0;
  color: #fff;

  @include media($tablet) {
    padding: 40px 0;
  }

  h3 {
    color: #fff;
    margin: 0 0 20px 0;

    @include media($tablet) {
      font-size: 26px;
    }
  }

  .startnow-entry {
    width: 440px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    line-height: 26px;

    p {
      margin: 0;
      font-family: open_sans_bold;
    }

    ul {
      padding: 0;
      margin: 0 0 20px 20px;
    }

    li {
      margin-top: 10px;
    }

    @include media($tablet) {
      width: 100%;
    }
  }

  form {
    width: 440px;
    margin: 0 auto;
    padding: 0;

    @include media($tablet) {
      width: 100%;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      margin-top: 12px;
      list-style-type: none;
      text-align: left;
    }
  }

  label {
    font-family: open_sans_bold;
    margin-bottom: 5px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border: 1px solid rgba(#fff, .5);
    background: rgba(#fff, .2);
    color: #fff;
    box-sizing: border-box;
  }

  input[type="text"],
  input[type="email"] {
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
  }

  textarea {
    padding: 10px;
    min-height: 120px;
    max-height: 300px;
  }

  input[type="submit"] {
    width: 100px;
    height: 44px;
    line-height: 0;
    font-size: 16px;
    font-family: 'open_sans_light';
    border: none;
    background: rgba(#fff, 1);
    color: $lw-blue;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      opacity: .8;
    }
  }

  .openModal {
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
    font-size: 16px;
    font-family: 'open_sans_light';
    border: none;
    background: rgba(#fff, 1);
    color: $lw-blue;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}


// Org Designer Ad

.org-designer-ad {
  color: $font-white;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 40px 0;
  text-align: center;

  h3 {
    margin: 0 0 20px 0;

    @include media($tablet) {
      font-size: 26px;
    }
  }

  .btn-cta {
    margin-top: 10px;

    &:hover {
      background: #fff;
    }
  }
}


// Buttons

.yellow-but {
  background: #ffcc00;
  color: $lw-black;
}

.blue-but {
  background: $lw-blue;
  color: #fff;

  &:active {
    box-shadow: inset 0 0 6px #2186be;
    opacity: 1;
  }
}

.gray-but {
  background: rgba($lw-light-bg, .7);
  color: $lw-blue;

  &:hover {
    opacity: 1;
  }
}

.sample-but {
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  font-family: 'open_sans_bold';
  text-align: left !important;
  margin-right: 4px;
  margin-top: 15px;

  @include media($mobile) {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-top: 7px;
  }

  &:hover {
    opacity: .9;
  }

  .fa {
    margin: 11px 10px 0 0;
    font-size: 18px;
    float: left;
  }
}
