// Main banner

.main-banner {
  text-align: center;
  background: #fff url("../images/banner-bg.jpg");
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 140px;

  @include media($tablet) {
    padding-bottom: 40px;
  }

  h1 {
    margin: 65px 0 25px 0;

    @include media($tablet) {
      font-size: 40px;
      line-height: 42px;
      margin: 140px 0 -5px 0;
      background: #fff;
    }
  }

  h2 {
    font-weight: bold;
    color: $font-lw-light-bg;
    letter-spacing: .02em;

    @include media($tablet) {
      font-size: 20px;
      line-height: 24px;
      padding: 10px;
      background: #fff;
    }
  }
}
