// Main banner

.main-banner {
  text-align: center;
  background: #fff url("../images/banner-bg.jpg") 0 -100px;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 200px;

  @include media($tablet) {
    padding-bottom: 40px;
    background-position: 0 0;

    br {
      display: none;
    }
  }

  h1 {
    margin: 65px 0 25px 0;

    @include media($tablet) {
      font-size: 40px;
      line-height: 40px;
      margin: 130px 0 -5px 0;
      background: #fff;
      padding: 10px;
    }
  }

  h2 {
    font-weight: bold;
    color: $font-lw-light-bg;
    letter-spacing: .02em;

    @include media($tablet) {
      font-size: 20px;
      line-height: 23px;
      padding: 0 10px 10px 10px;
      background: #fff;
    }
  }
}


// Sample list

.sample-list {
  @include clearfix;
  text-align: center;
  padding-top: 20px;

  .wrap-content > div {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 60px 0;
    padding-right: 50px;
    box-sizing: border-box;

    @include media($tablet) {
      width: 100%;
    }
  }

  i {
    color: $lw-blue;
    font-size: 40px;
    margin-top: 5px;
    float: left;
  }

  h3 {
    color: $lw-blue;
    text-align: center;
    margin-bottom: 50px;
  }

  p {
    margin: 0 0 0 50px;
    font-size: 18px;
    line-height: 29px;
  }
}
