<form action="https://leadwise-co.herokuapp.com/checkout/programs" method="POST" id="payment-form">
  <input type="hidden" name="program_name" value="LeadWise Programs">
  <input type="hidden" name="meta[program]" value="Building Trust: a Semco Style Workshop">
  <input type="hidden" name="total" value=15000>
  <input type="hidden" name="currency" value="usd">

  <div class="form-group">
  <div class="input-group">
  <span class="input-group-btn">
    <button id="customButton" type="submit">Buy Now</button>
  </span>
</div>
</div>
</form>
