<!--Menu Products-->
<div class="products-list">
  <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-close.svg" alt="close" class="products-close">
  <div class="products-list-wrap">
    <section class="coming-soon">
      <a>
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-programs.svg" alt="Programs">
        <h2>Programs</h2>
        <h5>Practical tools to change work</h5>
      </a>
      <span class="soon">Coming soon</span>
    </section>
    <section>
      <a href="http://community.leadwise.co" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-community.svg" alt="Community">
        <h2>Community</h2>
        <h5>Changemakers shaping the future of work</h5>
      </a>
    </section>
    <section>
      <a href="http://academy.leadwise.co" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-academy.svg" alt="Academy">
        <h2>Academy</h2>
        <h5>Five-week immersive online program</h5>
        <!-- span class="soon">Coming soon</span -->
      </a>
    </section>
    <section>
      <a href="http://changework.leadwise.co/" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-change-work.svg" alt="Change Work">
        <h2>Change Work</h2>
        <h5>Interactive e-book bundle</h5>
      </a>
    </section>
    <section class="coming-soon">
      <a>
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-webinars.svg" alt="Webinars">
        <h2>Webinars</h2>
        <h5>Interactive learning opportunities</h5>
      </a>
      <span class="soon">Coming soon</span>
    </section>
    <section>
      <a href="http://journal.leadwise.co" class="scroll-link" data-soffset="0" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-blog.svg" alt="Journal">
        <h2>Journal</h2>
        <h5>Our thoughts on leading &amp; working</h5>
      </a>
    </section>
    <section>
      <a href="http://podcast.leadwise.co" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-podcast.svg" alt="Podcast">
        <h2>Podcast</h2>
        <h5>Leading Wisely with Ricardo Semler</h5>
      </a>
    </section>
    <section>
      <a class="scroll-link" data-soffset="0" href="http://newsletter.leadwise.co" target="_blank">
        <img src="http://www.leadwise.co/assets/images/menu-products-icons/menu-products-newsletter.svg" alt="Newsletter">
        <h2>Newsletter</h2>
        <h5>News about the future of work</h5>
      </a>
    </section>
  </div>
</div>
