<ul>
  <li><a href="https://journal.leadwise.co/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
  <li><a href="https://www.facebook.com/letsleadwise/?fref=ts" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
  <li><a href="https://twitter.com/letsleadwise" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="https://www.youtube.com/channel/UCjIo_kduyv6f8RY1N69MkwQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
  <li><a href="https://www.linkedin.com/company/leadwise"targe="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  <li><a href="http://podcast.leadwise.co/"targe="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
</ul>
