html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

@media screen and (max-width: 768px) {
  header {
    position: absolute;
    width: 100%; } }
header .logo {
  height: 6em;
  margin: 35px 0 0 0;
  float: left; }
  @media screen and (max-width: 768px) {
    header .logo {
      width: 120px;
      height: auto;
      float: none; } }
header .menu {
  display: table;
  float: right;
  font-family: 'open_sans_light';
  margin: 4em 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    header .menu {
      display: none; } }
  header .menu li {
    display: inline-block;
    list-style: none;
    margin-left: 35px; }
    @media screen and (max-width: 768px) {
      header .menu li {
        margin-left: 0; } }
    header .menu li a {
      color: #95989A;
      text-decoration: none; }
      header .menu li a:hover {
        opacity: .8; }
    header .menu li .btn-cta {
      background: #30A7E9;
      color: #FFFFFF;
      line-height: 50px;
      height: 50px;
      text-transform: uppercase;
      font-family: ostrich_sansmedium;
      font-size: 22px;
      display: inline-block;
      letter-spacing: 2px;
      padding: 0 25px; }

#sidebartoggle {
  display: none; }
  #sidebartoggle:checked + header .menu {
    -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    display: block;
    background: #FFFFFF;
    height: 100vh;
    margin: 0;
    padding: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    z-index: 2; }
    #sidebartoggle:checked + header .menu li {
      display: block;
      margin-bottom: 20px; }
    #sidebartoggle:checked + header .menu .btn-cta {
      color: #FFFFFF;
      text-align: center; }
      #sidebartoggle:checked + header .menu .btn-cta:hover {
        color: #FFFFFF; }
    #sidebartoggle:checked + header .menu a {
      color: #95989A;
      display: block; }
      #sidebartoggle:checked + header .menu a:hover {
        color: #30A7E9; }

.sidebartogle-button {
  display: none; }
  @media screen and (max-width: 768px) {
    .sidebartogle-button {
      display: table;
      float: right; } }
  .sidebartogle-button .btn-menu {
    height: 3em;
    margin: 2.5em 0; }

.main-banner {
  text-align: center;
  background: #fff url("../images/banner-bg.jpg") 0 -100px;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 200px; }
  @media screen and (max-width: 768px) {
    .main-banner {
      padding-bottom: 40px;
      background-position: 0 0; }
      .main-banner br {
        display: none; } }
  .main-banner h1 {
    margin: 65px 0 25px 0; }
    @media screen and (max-width: 768px) {
      .main-banner h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 130px 0 -5px 0;
        background: #fff;
        padding: 10px; } }
  .main-banner h2 {
    font-weight: bold;
    color: #95989A;
    letter-spacing: .02em; }
    @media screen and (max-width: 768px) {
      .main-banner h2 {
        font-size: 20px;
        line-height: 23px;
        padding: 0 20px 20px 20px;
        background: #fff; } }

.sample-list,
.how-it-works {
  text-align: center;
  padding-top: 20px; }
  .sample-list::after,
  .how-it-works::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 768px) {
    .sample-list,
    .how-it-works {
      padding-top: 15px;
      padding-bottom: 5px; } }
  .sample-list h3,
  .how-it-works h3 {
    text-align: center;
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .sample-list h3,
      .how-it-works h3 {
        font-size: 26px;
        margin-bottom: 30px; } }
  .sample-list .wrap-content > div,
  .how-it-works .wrap-content > div {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 60px 0;
    padding-right: 50px;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .sample-list .wrap-content > div,
      .how-it-works .wrap-content > div {
        width: 100%;
        padding-right: 0;
        margin: 0 0 30px 0; } }
  .sample-list p,
  .how-it-works p {
    font-size: 16px;
    line-height: 26px; }

.sample-list {
  background: #30A7E9; }
  .sample-list h3 {
    color: #fff; }
  .sample-list i {
    color: #fff;
    font-size: 40px;
    margin-top: 4px;
    float: left; }
  .sample-list p {
    margin: 0 0 0 50px;
    color: #fff; }

.how-it-works h3 {
  color: #30A7E9; }
.how-it-works h4 {
  color: #30A7E9;
  font-size: 22px; }
.how-it-works p {
  margin: 0; }

.programs {
  text-align: center;
  padding: 60px 0;
  background: #EAEAEA; }
  .programs h3 {
    color: #30A7E9;
    margin: 20px 0 0 0; }
    @media screen and (max-width: 420px) {
      .programs h3 {
        font-size: 34px;
        text-align: left;
        margin: 0; } }

.programs-list {
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0; }
  @media screen and (max-width: 420px) {
    .programs-list {
      margin-top: 30px; } }
  .programs-list li {
    background: #fff;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 15px;
    box-shadow: 0 0 10px #d7d7d7;
    position: relative; }
    .programs-list li::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 420px) {
      .programs-list li {
        text-align: center;
        border-top: 2px solid #EAEAEA;
        padding-top: 30px;
        margin-top: 30px; } }
    .programs-list li > img {
      width: 200px;
      float: left; }
      @media screen and (max-width: 420px) {
        .programs-list li > img {
          float: none;
          margin-top: 20px; } }
  @media screen and (max-width: 420px) {
    .programs-list li:first-child {
      border-top: none;
      padding-top: 0;
      margin-top: 0; } }
  .programs-list .program-infos {
    margin-left: 230px;
    margin-right: 165px;
    border-right: 1px solid #EAEAEA;
    padding: 10px 20px 0 0; }
    @media screen and (max-width: 420px) {
      .programs-list .program-infos {
        margin: 20px 0 0 0;
        text-align: left;
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 25px; } }
    .programs-list .program-infos .second {
      margin-left: 20px; }
  .programs-list h4 {
    margin: 0 0 5px 0; }
    .programs-list h4 a {
      text-decoration: none;
      color: #30A7E9; }
      .programs-list h4 a:hover {
        opacity: .8; }
  .programs-list .post-infos {
    font-size: 11px;
    color: #95989A;
    font-family: 'open_sans_bold';
    display: block;
    text-transform: uppercase; }
  .programs-list p {
    font-size: 14px;
    margin: 7px 0 0 0;
    line-height: 22px; }
    @media screen and (max-width: 420px) {
      .programs-list p {
        margin-bottom: 15px; } }
  .programs-list .program-nav > div {
    display: inline-block;
    margin-right: 5px; }
  .programs-list .program-nav .program-price {
    font-family: 'open_sans_bold';
    font-size: 16px;
    line-height: 40px;
    margin-right: 20px;
    color: #000; }

.program-aside {
  width: 150px;
  position: absolute;
  right: 0;
  top: 15px; }
  @media screen and (max-width: 768px) {
    .program-aside {
      width: 100%;
      position: inherit;
      right: none;
      top: none;
      text-align: left;
      padding-bottom: 20px; } }
  .program-aside > div {
    font-size: 12px;
    margin-top: 10px;
    color: #95989A; }
    .program-aside > div strong {
      font-family: 'open_sans_bold'; }

.yellow-but {
  background: #ffcc00;
  color: #000000; }

.blue-but {
  background: #30A7E9;
  color: #fff; }
  .blue-but:active {
    box-shadow: inset 0 0 6px #2186be;
    opacity: 1; }

.gray-but {
  background: rgba(234, 234, 234, 0.7);
  color: #30A7E9; }
  .gray-but:hover {
    opacity: 1; }

.sample-but {
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  font-family: 'open_sans_bold';
  text-align: left !important;
  margin-right: 4px;
  margin-top: 15px; }
  @media screen and (max-width: 420px) {
    .sample-but {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-top: 7px; } }
  .sample-but:hover {
    opacity: .9; }
  .sample-but .fa {
    margin: 11px 10px 0 0;
    font-size: 18px;
    float: left; }

.org-designer-ad {
  color: #FFFFFF;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 40px 0;
  text-align: center; }
  .org-designer-ad h3 {
    margin: 0 0 20px 0; }
  .org-designer-ad .btn-cta {
    margin-top: 10px; }
    .org-designer-ad .btn-cta:hover {
      background: #fff; }

.program-page .programs-list {
  margin-top: 0; }
  .program-page .programs-list li {
    margin: 0 !important;
    padding: 15px 0;
    box-shadow: none;
    border-bottom: 2px solid #EAEAEA; }
    @media screen and (max-width: 420px) {
      .program-page .programs-list li {
        border-top: none;
        padding-top: 0;
        margin-top: 0; } }

.program-description {
  padding: 40px 0; }
  @media screen and (max-width: 420px) {
    .program-description {
      padding: 20px 0; } }
  .program-description p {
    line-height: 26px; }
    .program-description p strong,
    .program-description p b {
      font-family: open_sans_bold; }

.programs .wrap-content,
.program-description .wrap-content {
  width: 800px; }
  @media screen and (max-width: 420px) {
    .programs .wrap-content,
    .program-description .wrap-content {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
