html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

header::after {
  clear: both;
  content: "";
  display: block; }
@media screen and (max-width: 768px) {
  header {
    padding: 30px 0 10px 0; } }
header .logo {
  height: 6em;
  margin: 35px 0 0 0;
  float: left; }
  @media screen and (max-width: 768px) {
    header .logo {
      width: 120px;
      margin: 0;
      height: auto;
      float: none; } }
header .menu {
  float: right;
  font-family: 'open_sans_light';
  margin: 4em 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    header .menu {
      background: #f2f2f2;
      padding: 15px;
      float: none;
      margin: 20px 0 0 0;
      display: none; } }
  header .menu li {
    display: inline-block;
    list-style: none;
    margin-left: 35px; }
    @media screen and (max-width: 768px) {
      header .menu li {
        margin-left: 0;
        display: block;
        margin-bottom: 2px; } }
    header .menu li a {
      color: #95989A;
      text-decoration: none; }
      @media screen and (max-width: 768px) {
        header .menu li a {
          display: block;
          height: 36px;
          line-height: 36px;
          background: #4B4B4B;
          padding: 0 10px;
          color: #fff; } }
      header .menu li a:hover {
        opacity: .8; }
    header .menu li .btn-cta {
      background: #30A7E9;
      color: #FFFFFF;
      line-height: 50px;
      height: 50px;
      text-transform: uppercase;
      font-family: ostrich_sansmedium;
      font-size: 22px;
      display: inline-block;
      letter-spacing: 2px;
      padding: 0 25px; }
      @media screen and (max-width: 768px) {
        header .menu li .btn-cta {
          display: block;
          margin-top: 13px; } }

.headervisible {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  margin-top: 30px; }
  .headervisible::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 768px) {
    .headervisible {
      display: none; } }
  .headervisible .logo {
    width: 90px;
    height: auto;
    margin: 15px 0 0 0;
    float: left; }
  .headervisible .menu {
    margin: 16px 0 0 0;
    float: right; }

.sidebartogle-button {
  display: none; }
  @media screen and (max-width: 768px) {
    .sidebartogle-button {
      display: table;
      margin: 0;
      float: right; } }
  .sidebartogle-button .btn-menu {
    height: 3em;
    margin: 5px 0 0 0; }

.programs .wrap-content,
.program-description .wrap-content,
.why .wrap-content,
.brochure .wrap-content,
#pricing .wrap-content,
.welcome-message .wrap-content {
  width: 800px; }
  @media screen and (max-width: 768px) {
    .programs .wrap-content,
    .program-description .wrap-content,
    .why .wrap-content,
    .brochure .wrap-content,
    #pricing .wrap-content,
    .welcome-message .wrap-content {
      width: 100%; } }

.main-banner {
  text-align: center;
  background: #fff url("../images/banner-bg-programs.jpg") 0 -100px;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 200px; }
  @media screen and (max-width: 768px) {
    .main-banner {
      padding-bottom: 40px;
      background-position: 0 0; }
      .main-banner br {
        display: none; } }
  .main-banner .wrap-content {
    margin: 0 15%; }
    @media screen and (max-width: 768px) {
      .main-banner .wrap-content {
        margin: 0; } }
  .main-banner h1 {
    margin: 65px 0 25px 0;
    line-height: 60px; }
    @media screen and (max-width: 768px) {
      .main-banner h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 30px 0 -5px 0;
        background: #fff;
        padding: 10px; } }
  .main-banner h2 {
    background: #fff;
    color: #95989A;
    font-weight: bold;
    letter-spacing: .02em;
    padding: .5em; }
    @media screen and (max-width: 768px) {
      .main-banner h2 {
        font-size: 20px;
        line-height: 23px;
        padding: 0 20px 20px 20px; } }

.sample-list,
.how-it-works {
  text-align: center;
  padding-top: 20px; }
  .sample-list::after,
  .how-it-works::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 768px) {
    .sample-list,
    .how-it-works {
      padding-top: 15px;
      padding-bottom: 5px; } }
  .sample-list h3,
  .how-it-works h3 {
    text-align: center;
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .sample-list h3,
      .how-it-works h3 {
        font-size: 26px;
        margin-bottom: 30px; } }
  .sample-list .wrap-content > div,
  .how-it-works .wrap-content > div {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 60px 0;
    padding-right: 50px;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .sample-list .wrap-content > div,
      .how-it-works .wrap-content > div {
        width: 100%;
        padding-right: 0;
        margin: 0 0 30px 0; } }
  .sample-list p,
  .how-it-works p {
    font-size: 16px;
    line-height: 26px; }

.sample-list {
  background: #30A7E9; }
  .sample-list h3 {
    color: #fff; }
  .sample-list i {
    color: #fff;
    font-size: 40px;
    margin-top: 4px;
    float: left; }
  .sample-list p {
    margin: 0 0 0 50px;
    color: #fff; }
  .sample-list a {
    color: #fff;
    font-family: open_sans_bold;
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffcc00; }
    .sample-list a:hover {
      color: #fff; }

.sample-list-entry {
  width: 500px;
  margin: auto; }
  .sample-list-entry > div {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .sample-list-entry > div {
        width: 100%;
        padding-right: 0; } }

.how-it-works h3 {
  color: #30A7E9; }
.how-it-works h4 {
  color: #30A7E9;
  font-size: 22px; }
.how-it-works p {
  margin: 0; }

.programs {
  text-align: center;
  padding: 40px 0 60px 0;
  background: #EAEAEA; }
  .programs h3 {
    color: #30A7E9;
    margin: 20px 0 0 0; }
    @media screen and (max-width: 768px) {
      .programs h3 {
        font-size: 26px;
        margin: 0; } }

.programs-list {
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .programs-list {
      margin-top: 30px; } }
  .programs-list li {
    background: #fff;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 15px;
    box-shadow: 0 0 10px #d7d7d7;
    position: relative; }
    .programs-list li::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 768px) {
      .programs-list li {
        text-align: center;
        border-top: 2px solid #EAEAEA;
        padding-top: 30px;
        margin-top: 30px; } }
    .programs-list li > img {
      width: 200px;
      float: left; }
      @media screen and (max-width: 768px) {
        .programs-list li > img {
          float: none;
          margin-top: 20px; } }
  @media screen and (max-width: 768px) {
    .programs-list li:first-child {
      border-top: none;
      padding-top: 0;
      margin-top: 0; } }
  .programs-list .program-infos {
    margin-left: 230px;
    margin-right: 170px;
    border-right: 1px solid #EAEAEA;
    padding: 10px 20px 0 0; }
    @media screen and (max-width: 768px) {
      .programs-list .program-infos {
        margin: 20px 0 0 0;
        text-align: left;
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 25px; } }
    .programs-list .program-infos .second {
      margin-left: 20px; }
  .programs-list h4 {
    margin: 0 0 5px 0;
    color: #30A7E9; }
    .programs-list h4 a {
      text-decoration: none;
      color: #30A7E9; }
      .programs-list h4 a:hover {
        opacity: .8; }
  .programs-list p {
    font-size: 14px;
    margin: 7px 0 0 0;
    line-height: 22px; }
    @media screen and (max-width: 768px) {
      .programs-list p {
        margin-bottom: 15px; } }
  .programs-list .program-nav {
    margin-top: 10px; }
    .programs-list .program-nav > div {
      display: inline-block;
      margin-right: 5px; }
    .programs-list .program-nav .program-price {
      font-family: 'open_sans_bold';
      font-size: 16px;
      line-height: 40px;
      margin-right: 20px;
      color: #000; }
      @media screen and (max-width: 768px) {
        .programs-list .program-nav .program-price {
          width: 100%;
          font-size: 14px;
          margin-right: 0; } }

.program-aside {
  width: 170px;
  padding-left: 10px;
  position: absolute;
  right: 0;
  top: 15px; }
  @media screen and (max-width: 768px) {
    .program-aside {
      width: 100%;
      position: inherit;
      right: none;
      top: none;
      text-align: left;
      padding-bottom: 20px; } }
  .program-aside > div {
    font-size: 12px;
    margin-top: 10px;
    color: #95989A; }
    .program-aside > div strong {
      font-family: 'open_sans_bold'; }

.in-person {
  font-family: open_sans_bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000 !important; }

.soon {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  background: #ffcc00;
  display: inline-block;
  color: #000;
  font-family: open_sans_bold;
  font-size: 11px;
  text-transform: uppercase; }

.program-page header .logo {
  width: 100px;
  margin-top: 32px; }
.program-page header .menu {
  margin: 54px 0 0 0; }
  @media screen and (max-width: 768px) {
    .program-page header .menu {
      margin: 14px 0 0 0; } }
@media screen and (max-width: 768px) {
  .program-page .btn-menu {
    margin-top: 25px; } }
.program-page .programs {
  padding: 30px 0; }
.program-page .programs-list {
  margin-top: 0; }
  .program-page .programs-list li {
    margin: 0; }

.program-description {
  padding: 40px 0;
  background: #30A7E9;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .program-description {
      padding: 20px 0; } }
  .program-description p {
    line-height: 26px; }
    .program-description p strong,
    .program-description p b {
      font-family: open_sans_bold; }

.why {
  text-align: center;
  padding: 60px 0; }
  @media screen and (max-width: 768px) {
    .why {
      padding: 40px 0; } }
  .why h3 {
    color: #30A7E9;
    margin: 0 0 20px 0; }
    @media screen and (max-width: 768px) {
      .why h3 {
        font-size: 26px; } }
  .why .why-description {
    margin: 0;
    color: #95989A;
    font-size: 24px; }
  .why ul {
    padding: 0;
    margin: 0; }
  .why li {
    text-align: left;
    list-style-type: none;
    margin: 50px 0 0 0; }
    @media screen and (max-width: 768px) {
      .why li {
        margin: 30px 0 0 0; } }
    .why li p {
      margin: 20px 0 0 0;
      line-height: 26px; }
    .why li .fa {
      font-size: 40px;
      float: left;
      color: #30A7E9;
      margin-top: -7px; }
    .why li > div {
      margin-left: 60px; }
  .why h4 {
    font-size: 26px; }

.about-semcostyle {
  padding: 60px 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about-semcostyle {
      padding: 40px 0; } }
  .about-semcostyle .wrap-content {
    width: 900px; }
    @media screen and (max-width: 768px) {
      .about-semcostyle .wrap-content {
        width: 100%; } }
  .about-semcostyle h3 {
    color: #30A7E9;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 768px) {
      .about-semcostyle h3 {
        font-size: 26px; } }
  .about-semcostyle img {
    width: 460px;
    float: left; }
    @media screen and (max-width: 768px) {
      .about-semcostyle img {
        width: 280px;
        margin-bottom: 40px;
        float: none; } }
  .about-semcostyle .about-entry {
    margin-left: 480px;
    text-align: left;
    padding-top: 40px; }
    @media screen and (max-width: 768px) {
      .about-semcostyle .about-entry {
        margin-left: 0;
        padding-top: 0; } }
    .about-semcostyle .about-entry p {
      line-height: 26px; }

.about-helabs {
  padding: 60px 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about-helabs {
      padding: 40px 0; } }
  .about-helabs .wrap-content {
    width: 900px; }
    @media screen and (max-width: 768px) {
      .about-helabs .wrap-content {
        width: 100%; } }
  .about-helabs h3 {
    color: #30A7E9;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 768px) {
      .about-helabs h3 {
        font-size: 26px; } }
  .about-helabs img {
    width: 320px;
    float: left; }
    @media screen and (max-width: 768px) {
      .about-helabs img {
        width: 280px;
        margin-bottom: 40px;
        float: none; } }
  .about-helabs .about-entry {
    margin-left: 480px;
    text-align: left;
    padding-top: 40px; }
    @media screen and (max-width: 768px) {
      .about-helabs .about-entry {
        margin-left: 0;
        padding-top: 0; } }
    .about-helabs .about-entry p {
      line-height: 26px; }

.brochure {
  text-align: center;
  background: #EAEAEA;
  padding: 60px 0; }
  @media screen and (max-width: 768px) {
    .brochure {
      padding: 40px 0; } }
  .brochure .fa {
    font-size: 60px;
    color: #30A7E9;
    margin-bottom: 20px; }
  .brochure h3 {
    color: #30A7E9;
    margin: 0 0 20px 0; }
    @media screen and (max-width: 768px) {
      .brochure h3 {
        font-size: 26px; } }
  .brochure p {
    margin: 0 0 40px 0; }
  .brochure a {
    height: 46px;
    line-height: 46px;
    background: #30A7E9;
    color: #fff;
    font-size: 14px;
    font-family: open_sans_bold;
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase; }
    .brochure a:hover {
      opacity: .8; }
    .brochure a .fa {
      float: left;
      margin: 13px 12px 0 0;
      font-size: 20px;
      color: #fff; }

.startnow {
  text-align: center;
  background: #30A7E9;
  padding: 60px 0;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .startnow {
      padding: 40px 0; } }
  .startnow h3 {
    color: #fff;
    margin: 0 0 20px 0; }
    @media screen and (max-width: 768px) {
      .startnow h3 {
        font-size: 26px; } }
  .startnow .startnow-entry {
    width: 440px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    line-height: 26px; }
    @media screen and (max-width: 768px) {
      .startnow .startnow-entry {
        width: 100%; } }
    .startnow .startnow-entry p {
      margin: 0;
      font-family: open_sans_bold; }
    .startnow .startnow-entry ul {
      padding: 0;
      margin: 0 0 20px 20px; }
    .startnow .startnow-entry li {
      margin-top: 10px; }
    .startnow .startnow-entry a {
      font-family: open_sans_bold;
      color: #fff;
      text-decoration: underline; }
  .startnow .openModal {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    font-size: 1.4em;
    font-family: 'ostrich_sansmedium';
    letter-spacing: 0.1em;
    border: none;
    background: white;
    color: #30A7E9;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .startnow .openModal {
        width: 100%; } }
    .startnow .openModal:hover {
      opacity: .8; }

.org-designer-ad {
  color: #FFFFFF;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 40px 0;
  text-align: center; }
  .org-designer-ad h3 {
    margin: 0 0 20px 0; }
    @media screen and (max-width: 768px) {
      .org-designer-ad h3 {
        font-size: 26px; } }
  .org-designer-ad .btn-cta {
    margin-top: 10px; }
    .org-designer-ad .btn-cta:hover {
      background: #fff; }

.yellow-but {
  background: #ffcc00;
  color: #000000; }

.blue-but {
  background: #30A7E9;
  color: #fff; }
  .blue-but:active {
    box-shadow: inset 0 0 6px #2186be;
    opacity: 1; }

.gray-but {
  background: rgba(234, 234, 234, 0.7);
  color: #30A7E9; }
  .gray-but:hover {
    opacity: 1; }

.sample-but {
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  font-family: 'open_sans_bold';
  text-align: left !important; }
  @media screen and (max-width: 686px) {
    .sample-but {
      width: 100%;
      display: block;
      box-sizing: border-box; } }
  .sample-but:hover {
    opacity: .9; }
  .sample-but .fa {
    margin: 11px 10px 0 0;
    font-size: 18px;
    float: left; }

#pricing {
  padding: 60px 0 1px 0;
  background: #30A7E9;
  color: #fff;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #pricing {
      padding: 40px 0 1px 0; } }
  #pricing .wrap-content > div {
    margin-bottom: 60px;
    text-align: left; }
    @media screen and (max-width: 768px) {
      #pricing .wrap-content > div {
        margin-bottom: 40px; } }
  #pricing h3 {
    margin: 0 0 40px 0;
    color: #fff; }
  #pricing h4 {
    margin: 5px 0 0 0; }
  #pricing span {
    text-transform: uppercase;
    font-family: open_sans_bold;
    color: rgba(255, 255, 255, 0.7); }
  #pricing h4 {
    color: white; }
  #pricing ul {
    border-left: 3px solid rgba(255, 255, 255, 0.3); }
  #pricing li {
    line-height: 26px; }

.note-phrase {
  text-transform: uppercase;
  font-family: open_sans_bold;
  font-size: 12px !important;
  line-height: 20px !important;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
  text-align: center;
  letter-spacing: 0;
  margin: 0 !important; }

.pricing-but {
  background: #fff;
  padding: 25px 60px;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .pricing-but {
      display: block;
      text-align: center !important;
      padding: 30px 25px 25px 25px; } }
  .pricing-but a {
    width: 140px;
    float: left;
    background: #ffcc00;
    color: #000;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'ostrich_sansmedium';
    letter-spacing: 0.1em; }
    .pricing-but a:hover {
      background: #30A7E9;
      color: #fff; }
    @media screen and (max-width: 768px) {
      .pricing-but a {
        margin-bottom: 15px;
        float: none; } }
    .pricing-but a form,
    .pricing-but a .form-group,
    .pricing-but a .input-group {
      display: inline-block; }
  .pricing-but .but-entry {
    margin-left: 160px;
    margin-top: -50px !important; }
    @media screen and (max-width: 768px) {
      .pricing-but .but-entry {
        margin-left: 0;
        margin-top: 20px !important; } }
  .pricing-but strong {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'ostrich_sansmedium';
    letter-spacing: 0.1em;
    color: #30A7E9; }
  .pricing-but p {
    font-size: 14px;
    margin: 3px 0 0 0;
    color: #95989A; }

.pricing-description {
  margin-bottom: 50px;
  font-size: 22px; }
  @media screen and (max-width: 768px) {
    .pricing-description {
      font-size: 18px;
      margin-bottom: 40px;
      text-align: left; } }

.cancelled-page-banner {
  background: #fff url("../images/banner-bg.jpg") 0 -100px;
  text-align: left;
  padding-bottom: 80px; }
  .cancelled-page-banner .wrap-content {
    width: 600px; }
    @media screen and (max-width: 768px) {
      .cancelled-page-banner .wrap-content {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .cancelled-page-banner h1 {
      text-align: left !important;
      margin-bottom: 25px; } }
  .cancelled-page-banner h2 {
    margin-bottom: 30px; }
  .cancelled-page-banner .buts {
    margin-top: 30px; }
    .cancelled-page-banner .buts a {
      margin: 0 5px 0 0; }
      @media screen and (max-width: 768px) {
        .cancelled-page-banner .buts a {
          display: block;
          margin-right: 0;
          margin-bottom: 5px; } }

.princing-but-cancelled {
  width: 100%; }
  .princing-but-cancelled .wrap-content {
    width: 400px; }
    @media screen and (max-width: 768px) {
      .princing-but-cancelled .wrap-content {
        width: 100%; } }

.welcome-message {
  padding: 60px 0; }

.confirmed-banner .btn {
  margin-top: 30px; }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: 99999; }

.modalDialog > div {
  background: #fff;
  border-radius: 10px;
  height: 86vh;
  margin: 5% auto;
  position: relative;
  width: 60%; }
  @media screen and (max-width: 768px) {
    .modalDialog > div {
      height: auto;
      margin: auto;
      width: 94%;
      margin-top: 10px; } }

.modal-body {
  overflow-y: auto;
  height: inherit;
  padding: 30px; }

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  float: right;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  width: 24px; }
  .close:hover {
    cursor: pointer; }

.internal-modal-content h3 {
  margin: 0 0 20px 0; }
.internal-modal-content form input, .internal-modal-content form textarea {
  margin: .2em 0; }

/*# sourceMappingURL=style.css.map */
