<!DOCTYPE html>
<html>

<head>
  {% include meta_tags.html %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/leadwise.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" href="/assets/stylesheets/topbar.css">
</head>

<body>
  {{ content }}
  <!--Footer-->

  <div id="footer"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.6.2/parsley.min.js"></script>
  <script src="assets/javascripts/jquery.emailautocomplete-0.0.2.min.js"></script>
  <script src="/assets/javascripts/action.js"></script>
  <script src="/assets/javascripts/signup_form.js"></script>
  <script src="/assets/javascripts/productWidget.js"></script>
  <script src="/assets/javascripts/topbar.js"></script>
  <script src="/assets/javascripts/footer.js"></script>
  {% include tracking.html %}
</body>

</html>
