---
layout: default
---

<div class="program-page">

  <!-- Header -->
  <input type="checkbox" id="sidebartoggle" name="" value="">
  <header>
    <div class="wrap-content">
      <img src="/assets/images/logo-leadwise-programs.svg" alt="LeadWise Programs" class="logo">
      <label for="sidebartoggle" class="sidebartogle-button">
        <img class="btn-menu" src="/assets/images/icon-menu.svg" alt="menu">
      </label>
      <ul class="menu" id="main-menu">
        <li><a class="scroll-link" data-soffset="0" href="#why">Why</a></li>
        <li><a class="scroll-link" data-soffset="0" href="#keybenefits">Key benefits</a></li>
        <li><a class="scroll-link" data-soffset="0" href="#brochure">Brochure</a></li>
        <li><a class="scroll-link btn-cta" data-soffset="0" href="#startnow">Start Now</a></li>
      </ul>
    </div>
  </header>

  <!-- Programs list -->
  <section class="programs">
    <div class="wrap-content">
      <ul class="programs-list">
        <li>
          <img src="/assets/images/program-thumb.jpg">
          <div class="program-infos">
            <h4>{{ page.title }}</h4>
            <p>{{ page.description }}</p>
            <div class="program-nav">
              <div class="program-price">
                USD 150 / participant
              </div>
            </div>
          </div>
          <aside class="program-aside">
            <div class="in-person">In-person</div>
            <div>One-day workshop</div>
            <div><strong>10-20</strong> participants</div>
          </aside>
        </li>
      </ul>
    </div>
  </section>

  <!-- Why -->
  <section class="why" id="why">
    <div class="wrap-content">

      <h3>Why is building trust so important?</h3>

      <p class="why-description">
        Trust is the foundation for the best ways of working.
      </p>

      <ul>
        <li>
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          <div>
            <h4>It’s never been harder to attract &amp; retain top talent.</h4>
            <p>
              It is widely known that organizations today are struggling to attract and retain talent.
            </p>
            <p>
              <b>Millennials</b> - who now comprise almost 50% of the workforce - expect freedom and seek purpose. As digital natives, they see that remote work is possible, and they don’t accept antiquated, arbitrary-seeming command and control rules.
            </p>
          </div>
        </li>
        <li>
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          <div>
            <h4>Its disrupt or be disrupted.</h4>
            <p>
              In our economy, talent is the most important asset companies have. Talent is crucial as the world changes and business models evolve.
            </p>
            <p>
              No organization wants to be disrupted out of business -- without engaged people, you’re already falling behind.
            </p>
            <p>
              Organizational leaders know this, but most wonder...
            </p>
          </div>
        </li>
        <li>
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          <div>
            <h4>..."where does my organization even begin?"</h4>
            <p>
              The answer is to begin by building trust.
            </p>
            <p>
              When you stop to think about it, you realize that most of the rules that frustrate and demotivate workers exist because it is assumed that people cannot be trusted.
            </p>
            <p>
              Workers are not treated as adults, and are instead fettered by "boarding school rules" governing how to dress, what time to come in, and pestered blockers limiting access to websites.
            </p>
            <p>
              Trust is the foundation for improved, honest, and more human ways of working.
            </p>
            <p>
              If the relationship between employer and employee is based on trust instead of distrust, and if leaders embody and live this trust, a basis for creating an employee-friendlier environment is laid.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <!-- Programs topics -->
  <section style="display: none;">
    {% for topic in page.topics %}
      <p>{{ topic }}</p>
    {% endfor %}
  </section>

  <!-- Key benefits -->
  <section class="sample-list" id="keybenefits">
    <div class="wrap-content">
      <h3>By implementing our programs, you will:</h3>
      <div class="sample-list-entry">
        <div>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <p>
            Establish trust as the foundation for better<br> ways of working.
          </p>
        </div>
        <div>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <p>
            Have a positive and hands-on experience around trust through team-building exercises.
          </p>
        </div>
        <div>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <p>
            Inspire participants to immediately start building trust as individuals, and as a team.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--About SEMCO Style-->
  <section class="about-semcostyle">
    <div class="wrap-content">
      <img src="/assets/images/trust-image.jpg">
      <div class="about-entry">
        <h3>About SEMCO Style</h3>
        <p>
          Semco Style companies organize wisely around humans instead of traditional structures and procedures. They treat adults as adults, put people above organizational modes, and see freedom and self-interest as the basis for collective alignment.
        </p>
        <p>
          Semco Style is based on the experiences and learnings of Ricardo Semler, who has catalyzed organizational changes in the Semco family of companies for the past 30+ years.
        </p>
      </div>
    </div>
  </section>

  <!--Brochure-->
  <section class="brochure" id="brochure">
    <div class="wrap-content">
      <i class="fa fa-file-text" aria-hidden="true"></i>
      <h3>Download workshop brochure</h3>
      <p>
        You will find all relevant information about this workshop including<br>
        the suggested agenda and detailed activities.
      </p>
      <a href="/assets/images/brochure-building-trust-semco-style-workshop.pdf" target="_blank">
        <i class="fa fa-download" aria-hidden="true"></i> Download
      </a>
    </div>
  </section>

  <!--Apply now-->
  <section class="startnow" id="startnow">
    <div class="wrap-content">
      <h3>Start Now</h3>
      <div class="startnow-entry">
        <p>
          To implement our program in your organization, you can either:
        </p>
        <ul>
          <li>
            Select one of our trained organizational designers.
          </li>
          <li>
            Nominate someone from your team to be trained to facilitate the selected program at your company.
          </li>
        </ul>
      </div>
      <a class="openModal">
        Contact us for next steps
      </a>
    </div>
  </section>

  <div id="openModal" class="modalDialog" style="display: none;">
    <div>
      <a title="" class="close">
        <img src="/assets/images/icons/menu-close.svg" alt="Close">
      </a>
      <div class="modal-body">
        <div id="become-partner">
          {% include startnow.html %}
        </div>
        <div class="information" style="display: none;">
          <h3>Thank you!</h3>
          <p>As soon as we receive your information, we'll send you an email to schedule a call. </p>
        </div>
      </div>
    </div>
  </div>

  <!--Org Designer Ad-->
  <section class="org-designer-ad">
    <div class="wrap-content">
      <h3>
        Are you an organizational designer?<br>
        Lead programs that will change organizations.
      </h3>
      <p>
        Join our community and be connected to companies ready to change how they work.
      </p>
      <a href="http://community.leadwise.co/application" class="btn-cta">
        Apply now
      </a>
    </div>
  </section>

</div>
