---
layout: default
---

<div class="program-page">

  <!-- Header -->
  <input type="checkbox" id="sidebartoggle" name="" value="">
  <header>
    <div class="wrap-content">

      <img src="/assets/images/logo-leadwise-programs.svg" alt="LeadWise Programs" class="logo">

      <label for="sidebartoggle" class="sidebartogle-button">
        <img class="btn-menu" src="assets/images/icon-menu.svg" alt="menu">
      </label>

      <ul class="menu" id="main-menu">
        <li><a class="scroll-link" data-soffset="0" href="#why">Why</a></li>
        <li><a class="scroll-link" data-soffset="0" href="#keybenefits">Key benefits</a></li>
        <li><a class="scroll-link" data-soffset="0" href="#brochure">Brochure</a></li>
        <li><a class="scroll-link btn-cta" data-soffset="0" href="#pricing">Start Now</a></li>
      </ul>

    </div>
  </header>

  <!-- Programs list -->
  <section class="programs">
    <div class="wrap-content">

      <ul class="programs-list">
        <li>
          <img src="/assets/images/program-thumb.jpg">
          <div class="program-infos">
            <h4>{{ page.title }}</h4>
            <span class="post-infos" style="display: none;">
              <span>Amsterdan</span>
              <span class="second">07.25.2017</span>
            </span>
            <div class="program-nav">
              <div class="program-price">
                USD 150 / participant
              </div>
            </div>
          </div>
          <aside class="program-aside">
            <div>One-day workshop</div>
            <div>In-person</div>
            <div><strong>10-20</strong> participants</div>
          </aside>
        </li>
      </ul>

    </div>
  </section>

  <!-- Programs topics -->
  <section style="display: none;">
    {% for topic in page.topics %}
      <p>{{ topic }}</i></p>
    {% endfor %}
  </section>

  <!-- Programs description -->
  <section class="program-description">
    <div class="wrap-content">
      <p>{{ page.description }}</p>
    </div>
  </section>

  <!--Org Designer Ad-->
  <section class="org-designer-ad">
    <div class="wrap-content">

      <h3>
        Are you an organizational designer?<br>
        Do you want to learn to lead our programs?
      </h3>
      <p>
        Join our community and be connected to companies ready to change how they work.
      </p>
      <a href="/application" class="btn-cta">
        Apply now
      </a>

    </div>
  </section>

</div>
